<html>
       <head>
       	<title>Meerim's blog</title>
       </head>
       <body>
       	<div>
       		<h1><a href="">Meerim's blog</a></h1>
       	</div>
       	<div>
       	 <p>published: 01.10.2017, 15:13</p>
       	 <h2><a href="">My first post</a></h2>
       	 <p>You're seeing this message because you have DEBUG = True in your Django settings file and you haven't configured any URLs. Get to work!</p>
       	</div>

       	<div>
       		<p>published: 01.10.2017, 15:13</p>
       		<h2><a href="">My second post</a></h2>
       		<p> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
       	</div>
       </body>
</html>
